<launch>

  <arg name="model" default="$(find shelly)/urdf/shelly.urdf"/>
  <arg name="rvizconfig" default="$(find shelly)/scripts/shelly.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
